:root {
    --primary: #f2e5d5;
    --secondary: #c9b8a7;
    --text-color: #1b1813;
    --selection: #b55bff;
}

@font-face {
    font-family: 'Nevanta';
    src: "../assets/NevantaExtraBold-9MdV5.otf";
}

@font-face {
    font-family: 'Numbers';
    src: "../assets/MomcakeThin-9Y6aZ.otf";
}

html {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    font-family: 'Nevanta', sans-serif;
    font-size: 1vw;
    padding: 20px;
    margin: 0;
    gap: 10vh;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.dark-mode {
    --primary: #45362c;
    --secondary: #80735e;
    --text-color: antiquewhite;
}

header {
    position: sticky;
    width: 100%;
    height: fit-content;
    top: 0px;
    background-color: var(--secondary);
    border-radius: 10px;
    text-align: center;
    z-index: 100;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    padding: 0 10px;
    border-radius: 10px;
    background-color: var(--secondary);
    box-shadow: 2px 2px 0px 1px var(--text-color);
    z-index: 100;
}

.menu .logo {
    width: 8vh;
}

.menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: center;
}

.theme-toggle {
    position: static;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.logo img {
    width: 100%;
    height: auto;
}

.menu a {
    text-decoration: none;
    color: var(--text-color);
    border-radius: 5px;
    font-size: 1.1em;
    padding: 5px 10px;
    transition: 0.2s;
    cursor: pointer;
}

.menu a:hover:not(.logo) {
    background-color: var(--primary);
    color: var(--selection);
    transition: all 0.2s ease;
}

.menu ul li {
    display: inline-block;
    width: fit-content;
}

.toggleWrapper {
    display: flex;
    position: relative;
    padding: 5px;
    transform: none;
}

.toggleWrapper .input {
    display: none;
    position: absolute;
}

.toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 90px;
    height: 50px;
    background-color: #83d8ff;
    align-content: center;
    justify-content: center;
    border-radius: 84px;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle__handler {
    display: inline-block;
    z-index: 1;
    width: 47%;
    aspect-ratio: 1/1;
    background-color: #ffcf96;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: absolute;
    left: 3px;
    transform: translateY(-50%) rotate(-45deg);
}

.toggle__handler .crater {
    position: absolute;
    background-color: #e8cda5;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    border-radius: 100%;
}

.toggle__handler .crater--1 {
    top: 18px;
    left: 10px;
    width: 4px;
    height: 4px;
}

.toggle__handler .crater--2 {
    top: 28px;
    left: 22px;
    width: 6px;
    height: 6px;
}

.toggle__handler .crater--3 {
    top: 10px;
    left: 25px;
    width: 8px;
    height: 8px;
}

.star {
    position: absolute;
    background-color: #fff;
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 50%;
}

.star--1 {
    top: 10px;
    left: 35px;
    z-index: 0;
    width: 30px;
    height: 3px;
}

.star--2 {
    top: 18px;
    left: 28px;
    z-index: 1;
    width: 30px;
    height: 3px;
}

.star--3 {
    top: 27px;
    left: 40px;
    z-index: 0;
    width: 30px;
    height: 3px;
}

.star--4,
.star--5,
.star--6 {
    opacity: 0;
    transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
    top: 16px;
    left: 11px;
    z-index: 0;
    width: 2px;
    height: 2px;
    transform: translate3d(3px, 0, 0);
}

.star--5 {
    top: 32px;
    left: 17px;
    z-index: 0;
    width: 3px;
    height: 3px;
    transform: translate3d(3px, 0, 0);
}

.star--6 {
    top: 36px;
    left: 28px;
    z-index: 0;
    width: 2px;
    height: 2px;
    transform: translate3d(3px, 0, 0);
}

.input:checked+.toggle {
    background-color: #749dd6;
}

.input:checked+.toggle .toggle__handler {
    background-color: #ffe5b5;
    left: calc(50%);
    transform: translateY(-50%) rotate(0);
}

.input:checked+.toggle .toggle__handler .crater {
    opacity: 1;
}

.input:checked+.toggle .star--1 {
    width: 2px;
    height: 2px;
}

.input:checked+.toggle .star--2 {
    width: 4px;
    height: 4px;
    transform: translate3d(-5px, 0, 0);
}

.input:checked+.toggle .star--3 {
    width: 2px;
    height: 2px;
    transform: translate3d(-7px, 0, 0);
}

.input:checked+.toggle .star--4,
.input:checked+.toggle .star--5,
.input:checked+.toggle .star--6 {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.input:checked+.toggle .star--4 {
    transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.input:checked+.toggle .star--5 {
    transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.input:checked+.toggle .star--6 {
    transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.theme-toggle {
    transform: scale(1);
    transition: 0.2s ease-out;
}

.theme-toggle:hover {
    transform: scale(1.05);
    transition: 0.2s ease-out;
}

.burger {
    display: none;
    position: absolute;
    right: 10px;

    .hamburger {
        cursor: pointer;
    }

    .hamburger input {
        display: none;
    }

    .hamburger svg {
        /* The size of the SVG defines the overall size */
        height: 3em;
        /* Define the transition for transforming the SVG */
        transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line {
        fill: none;
        stroke: var(--text-color);
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3;
        /* Define the transition for transforming the Stroke */
        transition:
            stroke-dasharray 400ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line-top-bottom {
        stroke-dasharray: 12 63;
    }

    .hamburger input:checked+svg {
        transform: rotate(-45deg);
    }

    .hamburger input:checked+svg .line-top-bottom {
        stroke-dasharray: 20 300;
        stroke-dashoffset: -32.42;
    }

}

section {
    width: 98%;
    height: max-content;
    padding: 50px 20px;
    text-align: center;
    background-color: var(--secondary);
    color: var(--text-color);
    font-family: 'Nevanta', 'Arial', sans-serif;
    border-radius: 10px;
    box-shadow: 2px 2px 0px 1px var(--text-color);
    scroll-margin-top: 5vh;
    overflow: visible;
}

section h1 {
    text-align: start;
    margin-top: 0;
    margin-right: 50%;
}

#about {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.intro {
    display: flex;
    width: 50%;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 2em;
}

.intro p {
    font-family: cursive;
    display: block;
    text-align: justify;
}

#about .img {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 40%;
    height: 100%;
    background-image: url("../assets/profile.png");
    background-size: cover;
    background-position: center 20%;
    border-radius: 10px;
    transition: all 0.2s ease;
    z-index: 3;
    filter: grayscale(0.7);
    opacity: 0.3;
}

::selection {
    color: var(--selection);
}

#projects {
    gap: 50px;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}

 #projects h1 {
    position: absolute;
     font-size: 3em;
     left: 10%;
 }


.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 60px 100%;
    scale: 0.7;
    font-size: 1.2vw;
}


.carousel-track {
    display: flex;
    gap: 0px;
    transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    will-change: transform;
}




#projects .table {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
}

#projects .arrow {
    display: block;
    content: url('../assets/arrow.svg');
    scale: 2 2;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 3;
}

#projects .arrow:hover {
    scale: 2.2 2.2;
}

#left_arrow {
    opacity: 0;
    cursor: default;
    transform: scaleX(-1);
}

.carousel-item {
    display: flex;
    flex-direction: column;
    width: 80%;
    aspect-ratio: 7/3;
    background-image: linear-gradient(45deg, rgba(0, 145, 255, 1) 0%, rgba(163, 92, 250, 1) 50%, rgba(255, 143, 249, 1) 100%);
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 0px rgb(255, 255, 255);
    text-decoration: none;
    color: #1b1813;
    border-radius: 10px;
    position: relative;
    text-align: center;
    justify-content: end;
    transition: all 0.2s ease;
    overflow: hidden;
    min-width: 100%;
    flex: 0 0 70%;
    /* largeur de la slide centrale */
    opacity: 1;
    transform: scale(0.65);
    transition:
        transform 0.6s cubic-bezier(0.22, 1, 0.36, 1),
        opacity 0.4s ease,
        box-shadow 0.2s ease;
    z-index: 2;
    filter: blur(10px);
}

.carousel-item .carousel-caption {
    display: block;
    width: 100%;
    height: 0%;
    background-color: rgba(255, 242, 225, 0.5);
    backdrop-filter: blur(10px);
    font-weight: 700;
    font-size: 1.3em;
    text-transform: capitalize;
    transition: all 0.2s ease;

    h3 {
        color: rgb(154, 76, 255);
    }
}

.carousel-item.active {
    opacity: 1;
    transform: scale(1);
    z-index: 2;
    filter: blur(0px);
    cursor: pointer;
}

#slide1 {
    background-image: url("../assets/wordle-background.png");
}

.carousel-item.active:hover {
    transform: scale(1.05) rotate(-2deg);
    box-shadow: -20px 20px 5px rgb(0, 0, 0);
    transition: all 0.2s ease;

    .carousel-caption {
        height: 40%;
        transition: all 0.2s ease;
    }
}

.top_button {
    position: fixed;
    bottom: 100px;
    right: 10px;
    z-index: 1000;
    opacity: 0;
    visibility: visible;
    transform: translateY(50px);
    transition: all 0.4s ease;
}

.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(rgb(227, 203, 255), rgba(252, 235, 252, 1));
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    display: inline-block;
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: #7a18e5;
}

.button:hover {
    scale: 1.2;
}

.button:hover .svgIcon {
    animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.button:active .svgIcon {
    transform: translateY(5px);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    text-align: center;
    background-color: var(--secondary);
    border-radius: 10px;
    box-shadow: 0 5px 0px rgba(0, 0, 0, 0.5);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

footer a:hover {
    color: var(--selection);
    transition: 0.2s;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

@media (max-width: 800px) {

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 5px 0px var(--text-color);
    }

    .menu #links, .theme-toggle {
        display: none;
    }

    .menu .burger {
        display: block;
        margin-right: 5%;
        scale: 3;
    }
    
    .burger input:checked .menu{
        height: 100vh;
    }

    .burger #burger_links {
        display: none;
    }
    
    #about {
        flex-direction: column;
    }

}

* {
    user-select: none;
}